
<!-- Header -->
<div class="row">
    <header class="col-xs-12 col-sm-12">
      <h2 class="text-center">Mussel Management</h2>
      <h4>Signed in as <%=currentUser.username %></h4>
    </header>
</div>

<!-- 
  ============================
  Uses Program.js
  ============================
 -->
 <div class="row">
  <!-- Add Scheduled Event Form-->
  <!-- need to populate database so you can start select dropdown -->
  <form class='col-sm-offset-1 col-sm-10 schedule-form form' method="post" action="">
    <h3>Schedule Activity</h3>
    <p>Schedule an Event, Program, or Clinic</p>
    <hr>
    <div class="form-group">
      <label>Event</label>
      <input type="text" name="cost" class="form-control" placeholder="add new clinic">
    </div>
    <input type="submit" value="Add to Schedule" class="btn btn-success">
  </form>
</div>
<div class="row">
<!-- Add Clinic Form -->
  <form class='col-sm-3 form' method="post" action="#">
    <h3>Add A Clinic Type</h3>
    <p>A "Clinic" is an individual skill instructional by a coach or outside professional</p>
  
    <hr>
    <div class="form-group">
      <label>Clinic Title:</label>
      <input type="text" name="clinic_title" class="form-control" placeholder="add new clinic">
    </div>
    <div class="form-group">
      <label>Cost of Clinic: $</label>
      <input type="" name="cost" class="form-control" placeholder="0.00">
    </div>
    <div class="form-group">
      <label>Start Time:</label>
      <input type="time" name="start_time" class="form-control" placeholder="add new clinic">
    </div>
    <div class="form-group">
      <label>End Time:</label>
      <input type="time" name="end_time" class="form-control" placeholder="add new clinic">
    </div>
    <div class="form-group">
      <label>Start Date:</label>
      <input type="date" name="start" class="form-control" placeholder="add new clinic">
    </div>
    <div class="form-group">
      <label>End Date:</label>
      <input type="date" name="end" class="form-control" placeholder="add new clinic">
    </div>
    <div class="form-group">
      <label>Details About Clinic:</label>
        <textarea name="clinic_detail" class="form-control" placeholder="Clinic details..."></textarea>
    </div>
    <input type="submit" value="Add Clinic Type" class="btn btn-success">
  </form>

<!-- Add Event Form -->
  <form class='col-sm-3 form' method="post" action="">
    <h3>Add Event Type</h3>
    <p>An "Event" is a practice, game, or tournament</p>
    <hr>
    <div class="form-group">
      <label>Event</label>
      <input type="text" name="cost" class="form-control" placeholder="add new clinic">
    </div>
    <input type="submit" value="Add Event Type" class="btn btn-success">
  </form>

<!-- Add Program Form -->
  <form class='col-sm-3 form' method="post" action="">
    <h3>Add Program Type</h3>
    <p>Current programs are Summer Travel, Summer League, and Summer Pick-Up   </p>
    <hr>
    <div class="form-group">
      <label>Event</label>
      <input type="text" name="cost" class="form-control" placeholder="add new clinic">
    </div>
    <input type="submit" value="Add Program Type" class="btn btn-success">
  </form>

 </div><!-- End Program.js-->

<!-- 
  ============================
  Uses team.js
  ============================
 -->
<div class="row">
 
<!-- Add Team Form -->
<!-- Add Player Form -->
<!-- Add Coach Form -->
</div>
<!-- 
  ============================
  Uses other.js
  ============================
 -->
<!-- Add Contact Form -->
<!-- Add Partnership Form -->



