
<!-- Header -->
<div class="row header">
  <a class='col-sm-offset-2' href="/auth/logout">
    <button class="logout">
      <h5>Logout <%= currentUser.username%></h5>
    </button>
  </a>
  <h2 class="text-center col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">Mussel Management</h2>
</div>

<!-- 
  ============================
  Uses Program.js
  ============================
 -->
 <section>
   <div class="row">
      <!-- Add Scheduled Event Form-->
      <!-- need to populate database so you can start select dropdown -->
      <div class="col-sm-offset-3 col-sm-6">
        <form class='primary-form form' method="post" action="">
          <div class="form-header">
            <h3>Schedule Activity</h3>
            <p>Schedule an Event, Program, or Clinic</p>
          </div>
          <div class="form-group">
            <label>Event</label>
            <input type="text" name="cost" class="form-control" placeholder="add new clinic">
          </div>
          <input type="submit" value="Add to Schedule" class="btn btn-success">
        </form>
      </div>
   </div>

 </section>

<div class="row">
<!-- Add Clinic Form -->
<div class="col-sm-4">
  <form class="form" method="post" action="/program/add-clinic">
    <div class="form-header">
      <h3>Add A Clinic Type</h3>
      <p>A "Clinic" is an individual skill instructional by a coach or outside professional</p>
    </div>
    <div class="form-group">
      <label>Clinic Title:</label>
      <input type="text" name="clinic_title" class="form-control" placeholder="add new clinic">
    </div>
    <div class="form-group">
      <label>Cost of Clinic: $</label>
      <input type="text" name="cost" class="form-control" placeholder="0.00">
    </div>
    <div class="form-group">
      <label>Start Time:</label>
      <input type="time" name="start_time" class="form-control" placeholder="add new clinic">
    </div>
    <div class="form-group">
      <label>End Time:</label>
      <input type="time" name="end_time" class="form-control" placeholder="add new clinic">
    </div>
    <div class="form-group">
      <label>Start Date:</label>
      <input type="date" name="start" class="form-control" placeholder="add new clinic">
    </div>
    <div class="form-group">
      <label>End Date:</label>
      <input type="date" name="end" class="form-control" placeholder="add new clinic">
    </div>
    <div class="form-group">
      <label>Details About Clinic:</label>
      <textarea name="clinic_detail" class="form-control" placeholder="Clinic details..."></textarea>
    </div>
    <input type="submit" value="Add Clinic Type" class="btn btn-success">
  </form>

</div>
 
<!-- Add Event Form -->
<div class="col-sm-4">
  <form class='form' method="post" action="">
    <div class="form-header">
      <h3>Add Event Type</h3>
      <p>An "Event" is a practice, game, or tournament</p>
    </div>
    <div class="form-group">
      <label>Event</label>
      <input type="text" name="cost" class="form-control" placeholder="add new clinic">
    </div>
    <input type="submit" value="Add Event Type" class="btn btn-success">
  </form>
</div>


<!-- Add Program Form -->
<div class="col-sm-4">
  <form class='form' method="post" action="/program/add-program">
    <div class="form-header">
      <h3>Add Program Type</h3>
      <p>Current programs are Summer Travel, Summer League, and Summer Pick-Up </p>
    </div>
    <div class="form-group">
      <label>Program Title</label>
      <input type="text" name="title" class="form-control" placeholder="Add New Program">
    </div>
    <div class="form-group">
      <label>Cost</label>
      <input type="text" name="cost" class="form-control" placeholder="0.00">
    </div>
    <div class="form-group">
      <label>Start Date</label>
      <input type="date" name="start" class="form-control">
    </div>
    <div class="form-group">
      <label>End Date</label>
      <input type="date" name="end" class="form-control">
    </div>
    <div class="form-group">
      <label>Details About Program:</label>
      <textarea name="program_detail" class="form-control" placeholder="Program details..."></textarea>
    </div>
    <input type="submit" value="Add Program Type" class="btn btn-success">
  </form>
</div>


 </div><!-- End Program.js-->

<!-- 
  ============================
  Uses team.js
  ============================
 -->
<div class="row">
 
<!-- Add Team Form -->
<!-- Add Player Form -->
<!-- Add Coach Form -->
</div>
<!-- 
  ============================
  Uses other.js
  ============================
 -->
<!-- Add Contact Form -->
<!-- Add Partnership Form -->



