<footer>
    <div class="partnerships-row row">
        <div class="partnerships col-sm-12">
            <h4>Partners of Maine Mussels:</h4>

        </div>
        <div class="partnerships col-sm-12">
            <ul>
                <li>
                    <a href="https://www.underarmour.com/en-us/" target="_blank">Under Armour</a>
                    <hr class="col-sm-2">
                </li>
                <li>
                    <a href="https://www.lax.com/" target="_blank">Lax.com</a>
                    <hr class="col-sm-2">

                </li>
                <li>
                    <a href="http://www.bostoncannons.com/" target="_blank">Boston Cannons</a>
                    <hr class="col-sm-2">

                </li>
            </ul>
        </div>
        <div class="built col-sm-12">
            <a href="http://philpatterson.io" target="_blank">Website Built By Phil Patterson</a>
        </div>
    </div>
</footer>