<footer>
    <div class="partnerships-row row">
        <div class="partnerships col-sm-12">
            <h4>Partners of Maine Mussels:</h4>
        </div>
        <div class="partnerships col-sm-6">
            <ul>
                <li class='col-sm-12'>

                    <a href="https://www.underarmour.com/en-us/" target="_blank">Under Armour</a>
                    <hr class="col-sm-2">
                </li>
                <li>
                    <a href="https://www.lax.com/" target="_blank">Lax.com</a>
                    <hr class="col-sm-2">

                </li>
                <li>
                    <a href="http://www.bostoncannons.com/" target="_blank">Boston Cannons</a>
                    <hr class="col-sm-2">

                </li>
            </ul>
        </div>
        <div class="partnerships footer-contact col-sm-6">
            <ul>
                <li class='col-sm-12'>
                    Email: <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">mainemusselslacrosse@gmail.com</a>
                </li>
                <li class='col-sm-12'>
                    Phone: <a href="tel:1-802-310-9656">(802) 310-9656</a>
                </li>
            </ul>
        </div>
        <div class="built col-sm-12">
            <a href="http://philpatterson.io" target="_blank">Website Built By Phil Patterson</a>
        </div>
    </div>
</footer>