<footer>
    <div class="partnerships-row row">
        <div class="partnerships col-sm-12">
            <h4>Maine Mussels Partners:</h4>
            <ul>
                <li >
                    <a href="https://www.underarmour.com/en-us/">Under Armour</a>
                </li>
                <li>
                    <a href="https://www.lax.com/">Lax.com</a>
                </li>
                <li>
                    <a href="http://www.bostoncannons.com/">Boston Cannons</a>
                </li>
            </ul>
        </div>
        <div class="built col-sm-12">
            <a href="http://philpatters.io">Website Built By Phil Patterson</a>
        </div>
    </div>
</footer>