<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand nav-logo">
        <img src="/img/logos/maine_mussels_lax_logo.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/calendar">Calendar</a>
        </li>
        <li>
          <a href="/team/mini-mussels"><em style='color: red'>New!</em> Mini Mussels</a>
        </li>
        <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Teams
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/team/futures">Mussels Futures</a>
            </li>
            <li>
              <a href="/team/green">Mussels Green</a>
            </li>
            <li>
              <a href="/team/navy">Mussels Navy</a>
            </li>
          </ul>
        </li> -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Programs
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
        <li>
          <a href="/program/travel">Travel Program</a>
        </li>
        <li>
          <a href="/program/league">Summer League</a>
        </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Skills and Clinics
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/skills-and-clinics/clinics">Clinics</a>
            </li>
            <li>
              <a href="/skills-and-clinics/personal-coaching">Personal Coaching</a>
            </li>
            <li>
              <a href="/skills-and-clinics/positional-training">Positional Training</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Registration
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/registration/mini-mussels-reg"><em style='color: red'>New!</em> Mini Mussels</a>
            </li>
            <li>
              <a href="/registration/ms-travel-reg">Middle School Travel</a>
            </li>
            <li>
              <a href="/registration/hs-travel-reg">High School Travel</a>
            </li>
            <li>
              <a href="/registration/face-off-reg">Face Off Clinic</a>
            </li>
            <li>
              <a href="/registration/ms-league-reg">Middle School League</a>
            </li>
            <li>
              <a href="/registration/hs-league-reg">High School League</a>
            </li>

            <li>
              <a href="/registration/positional-training-reg">Positional Training</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
