<div class="container" id="mini-mussels-header">
        <!-- header -->
    <div class="new-img-container col-xs-3 col-sm-1">
        <img src="/img/icons/new-icon.ico" alt="new-icon">
    </div>
    <div class="mini-header col-xs-6 col-sm-8">
        <h1 class="hidden-xs">
            Mini Mussels
        </h1>
        <h2 class="visible-xs">
            Mini Mussels
        </h2>
    </div>
    <div class="new-img-container col-xs-3 col-sm-1">
        <img src="/img/icons/new-icon.ico" alt="new-icon">
    </div>
        <!-- end header -->
</div>

    <!-- announcement -->
<div class="container" id="announcement">
    <div class="announcement col-sm-8">
        <h3>
            The Maine Mussels are excited to announce that we will be offering new training sessions for boy’s grades 1-6!
        </h3>
    </div>
</div>
<!-- end announcement -->
<div class="row">
    <div class="col-xs-offset-4 col-xs-4 col-md-offset-4 col-md-4">
        <hr>
    </div>
</div>
<!-- Location -->
<div class="container" id="location" >
    <div class="announcement col-sm-12">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <h3>Located at Casco Bay Arena</h3>
            </div>
            <div class="col-sm-12">
                <a href="https://goo.gl/maps/VdDgxn9RUVF2">
                    <h4>Get Directions</h4>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12">
                <h3>Sessions</h3>
            </div>
            <div class="col-sm-12">
                <h4>
                    April 17th to June 7th
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- end location -->

<!-- mini mussels details -->
<div class="container" id="mini-mussels-details">
    <!-- <div class="mini-overview-row row"> -->
        <div class="mini-overview-container col-sm-12">
            <div class="detail-container col-sm-6">
                <div class="detail col-sm-12">
                    <div class="detail-title col-sm-3">
                        <div class="col-sm-12">
                            Sessions
                        </div>
                        <div class="col-sm-12">
                            April 17th to June 7th
                        </div>
                    </div>
                    <div class="detail-description col-sm-9">
                        <div class="small-detail col-sm-6">
                            Grades 3-6
                        </div>
                        <div class="small-detail col-sm-6">
                            Tuesdays and Thursdays 6:30 pm - 7:30 pm
                        </div>
                        <div class="small-detail col-sm-6">
                            Grades 3-6
                        </div>
                        <div class="small-detail col-sm-6">
                            Tuesdays and Thursdays 6:30 pm - 7:30 pm
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-container col-sm-6">
                <div class="detail col-sm-12">
                    <div class="detail-title col-sm-3">
                        Sessions:
                    </div>
                    <div class="detail-description col-sm-9">
                        <div class="small-detail col-sm-6">
                            Grades 3-6
                        </div>
                        <div class="small-detail col-sm-6">
                            Tuesdays and Thursdays 6:30 pm - 7:30 pm
                        </div>
                        <div class="small-detail col-sm-6">
                            Grades 3-6
                        </div>
                        <div class="small-detail col-sm-6">
                            Tuesdays and Thursdays 6:30 pm - 7:30 pm
                        </div>
                    </div>
                </div>
            </div>

        </div>
    <!-- </div> -->
</div>

<!-- 
     SESSIONS: April 17th- June 7th
     WHEN: 
        Grades 3-6 Tuesdays and Thursdays 6:30 pm - 7:30 pm;
        Grades 1-2 Wednesdays 6:30-7:30
    WHERE: Casco Bay Arena 
    COST: 
        Grades 1-2 $60
        Grades 3-6 $115
 -->


<!-- end mini details -->

<!-- curriculum -->
    <!-- 
        PROGRAM CURRICULUM:
        Lessons on Sportsmanship
        Proper Techniques:
            Passing, Catching, Dodging, Shooting and Ground Balls
        Defense Techniques:
            Approaches, Defensive Posture, Footwork, Stick Checks, Sliding, Clearing and Positional Defense
        Offense Techniques:
            Creating and Finding Space, Ball Support, Off Ball, Motion Offense
        Developing Both Right and Left Hand
        1v1 Progression Drills to 2v2, 3v3 and 4v4
        Fast Paced Mini Games Half Field Scrimmages w/Equal Play Time
    -->
<!-- end curriculum -->


