<div class="container" id="mini-mussels">
    <div class="mini-header-row row">

        <!-- header -->
        <div class="mini-header-container col-md-offset-3 col-md-6">
            <div class="new-img-container col-md-2">
                <img src="/img/icons/new-icon.ico" alt="new-icon">
            </div>
            <div class="mini-header col-md-8">
                <h1 class="">
                    Mini Mussels
                </h1>
            </div>
            <div class="new-img-container col-md-2">
                <img src="/img/icons/new-icon.ico" alt="new-icon">
            </div>
        </div>
        <!-- end header -->

        <!-- announcement -->
        <div class="announcement col-md-offset-2 col-md-8 hidden-xs">
                    <h5>
                        The Maine Mussels are excited to announce that we will be offering new training sessions for boy’s grades 1-6.
                    </h5>
                </div>
        <!-- end announcement -->
    </div>
</div>