<div class="mini-page">
    <div class="container" id="mini-mussels-header">
        <!-- header -->
        <div class="new-img-container col-xs-3 col-sm-1">
            <img src="/img/icons/new-icon.ico" alt="new-icon">
        </div>
        <div class="mini-header col-xs-6 col-sm-8">
            <h1 class="hidden-xs">
                Mini Mussels
            </h1>
            <h2 class="visible-xs">
                Mini Mussels
            </h2>
        </div>
        <div class="new-img-container col-xs-3 col-sm-1">
            <img src="/img/icons/new-icon.ico" alt="new-icon">
        </div>
        <!-- end header -->
    </div>

    <!-- announcement -->
    <div class="row" id="announcement">
        <div class="announcement col-sm-8">
            <h3>
                The Maine Mussels are excited to announce we will be offering new training sessions for boy’s grades 1-6!
            </h3>
        </div>
    </div>
    <!-- end announcement -->

    <!-- Location -->
    <div class="row" id="location">
        <div class="location-session-container col-sm-12">

            <div class="location-session col-xs-12 col-sm-4">
                <div class="col-sm-12">
                    <h2>
                        April 17 - June 7
                    </h2>
                </div>
                <div class="col-sm-12">
                    <a class="btn home-btn shadow-effect hidden-xs" href="https://calendar.google.com/calendar/embed?src=mainemusselslacrosse%40gmail.com&ctz=America%2FLos_Angeles"
                        role="button">Calendar</a>
                    <a class="btn home-btn visible-xs" href="https://calendar.google.com/calendar/embed?src=mainemusselslacrosse%40gmail.com&ctz=America%2FLos_Angeles"
                        role="button">Calendar</a>
                </div>
            </div>

            <div class="location-session col-sm-4">
                <div class="col-sm-12">
                    <h2>
                        Casco Bay Arena
                    </h2>
                </div>
                <div class="col-sm-12">
                    <a class="btn home-btn visible-xs" href="https://goo.gl/maps/VdDgxn9RUVF2" role="button">Directions</a>
                    </a>
                    <a class="btn home-btn shadow-effect hidden-xs" href="https://goo.gl/maps/VdDgxn9RUVF2"
                        role="button">Directions</a>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="row" id="details">
        <div class="mini-details-container col-sm-5">
            <div class="mini-details col-sm-12">
                <div class="mini-detail col-sm-12">
                <h2 class="mini-detail-title">
                        Grades 1-2
                    </h2>
                </div>
                <div class="mini-detail col-sm-12">
                    <h3>
                        Wednesdays
                    </h3>
                </div>
                <div class="mini-detail col-sm-12">
                    <h3>
                        6:30-7:30
                    </h3>
                </div>
                <div class="mini-detail col-sm-12">

                    <h3>
                        $60
                    </h3>
                </div>
            </div>
        </div>
        <div class="signup-btn-container col-sm-2">
            <div class="signup-btn text-center col-sm-12">
                <a class='btn btn-success' href="/registration/mini-mussels-reg">
                    <h4>Sign Up Today !</h4>
                </a>
            </div>

        </div>
        <div class="mini-details-container col-sm-5">
            <div class="mini-details col-sm-12">
                <div class="mini-detail col-sm-12">
                <h2 class="mini-detail-title">

                        Grades 3-6
                    </h2>
                </div>
                <div class="mini-detail col-sm-12">
                    <h3>
                        Tuesdays and Thursdays
                    </h3>
                </div>
                <div class="mini-detail col-sm-12">

                    <h3>
                        6:30pm to 7:30 pm
                    </h3>
                </div>
                <div class="mini-detail col-sm-12">

                    <h3>
                        $115
                    </h3>
                </div>

            </div>
        </div>
    </div>
    <div class="mini-details-container row">
        <div class="mini-details col-sm-12">
            <h2>Mini Mussels Offers:</h2>
            <div class="mini-detail col-sm-4 visible-xs">
                <h3 class="mini-detail-title ">
                    Fundamentals
                </h3>
                <h3 class="mini-detail-title ">
                    Equal Play
                </h3>
                <h3 class="mini-detail-title ">
                    Offense
                </h3>
                <h3 class="mini-detail-title ">
                    Defense
                </h3>
                <h3 class="mini-detail-title ">
                    Scrimamges
                </h3>
                <h3 class="mini-detail-title ">
                    Mini-Games
                </h3>
            </div>            
            <div class="mini-detail col-sm-4 hidden-xs">

                <h3 class="mini-detail-title ">
                    Fundamentals
                </h3>
                <h4>
                    Shooting
                </h4>
                <h4>
                    Passing
                </h4>
                <h4>
                    Catching
                </h4>
                <div class="mini-detail col-sm-12 hidden-xs">
                    <h3 class=" mini-detail-title">
                        Fast Paced Mini Games
                    </h3>
                    <h3 class=" mini-detail-title">
                        Equal Play Time
                    </h3>
                </div>
            </div>
            <div class="mini-detail col-sm-4 hidden-xs">

                <h3 class="mini-detail-title">
                    Offense
                </h3>
                <h4>
                    Creating and Finding Space
                </h4>
                <h4>
                    Ball Support
                </h4>
                <h4>
                    Off Ball
                </h4>
                <h4>
                    Motion Offense
                </h4>
                <h4>
                    Left and Right Hand Developement
                </h4>
            </div>
            <div class="mini-detail col-sm-4 hidden-xs">
                    <h3 class="mini-detail-title">
                        Defense
                    </h3>
                    <h4>
                        Approaches
                    </h4>
                    <h4>
                        Stick Checks
                    </h4>
                    <h4>
                        Footwork
                    </h4>
                    <h4>
                        Sliding
                    </h4>
                    <h4>
                        Clearing
                    </h4>
            </div>
            <div class="mini-detail col-sm-8 hidden-xs">
                <h3 class="mini-detail-title">
                    Half Field Scrimmages
                </h3>
                <h3 class="mini-detail-title">
                    1v1 Progression Drills to 2v2, 3v3 and 4v4
                </h3>
            </div>
        </div>
    </div>
</div>
