<div class="about-page">
    <div class="container" id="about-header">
        <div class="about-header-row row">
            <div class="text-center col-md-12">
                <div class="about-header">
                    <h1>About Mussels</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container content" id="about">
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4 col-md-offset-4 col-md-4">
                <hr>
            </div>
        </div>
        <div class="overview-row row">
            <div class="text-center col-md-12">
                <div class="overview-content">
                    <h3>
                        We are here for the love of the game.
                    </h3>
                </div>
            </div>
        </div>
        <div class="overview-row row hidden-xs">
            <div class="text-center col-md-12">
                <div class="overview-content">
                    <p>
                        Each grade level and team has a different objective when it comes to tournament lacrosse.
                    </p>
                </div>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-xs-offset-4 col-xs-4 col-md-offset-4 col-md-4">
                <hr>
            </div>
        </div>
    </div>
    <div class="container content" id="about">
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4 col-md-offset-4 col-md-4">
                <hr>
            </div>
        </div>
        <div class="overview-row row hidden-xs">
            <div class="text-center col-md-12">
                <div class="overview-content">
                    <p>
                        For our youngest players we are educating them on the sport, sportsmanship, teamwork and smart gameplay. While a winning
                        outcome is desired, we are striving for player development. These players are learning and absorbing,
                        we want them to continue to love the sport and understand the nature of the game. We are constantly
                        working on stick skills, game smarts and teamwork. These players should be dedicated to their team,
                        the game and giving it their all on the field. Competitive natures often develop at this age and
                        we work to tame the aggression with smart gameplay and sportsmanship.
                    </p>
                </div>
            </div>
            <div class="row hidden-xs">
                <div class="col-xs-offset-4 col-xs-4 col-md-offset-4 col-md-4">
                    <hr>
                </div>
            </div>
            <div class="col-xs-4 col-md-4 text-center">
                <div class="home-btn-cont">
                    <a class="btn home-btn shadow-effect" href="/registration/mini-mussels-reg" role="button">Mini Mussels Sign Up!</a>
                </div>
            </div>

            <div class="col-xs-4 col-md-4 text-center">
                <div class="home-btn-cont">
                    <a class="btn home-btn shadow-effect" href="/registration/ms-travel-reg" role="button">MS Travel Sign Up!</a>
                </div>
            </div>
            <div class="col-xs-4 col-md-4 text-center">
                <div class="home-btn-cont">
                    <a class="btn home-btn shadow-effect" href="/registration/ms-league-reg" role="button">MS League Sign Up!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container content" id="about">
        <div class="overview-row row">
            <div class="row hidden-xs">
                <div class="col-xs-offset-4 col-xs-4 col-md-offset-4 col-md-4">
                    <hr>
                </div>
            </div>
            <div class="text-center col-md-12">
                <div class="overview-content">
                    <p>
                        For our high schoolers, we begin working with families to get their players in front of college coaches and help guide them
                        along the recruiting process. Each tournament is chosen to enhance their visibility with lacrosse
                        coaches from top schools. For all of our players and families, we believe respect for the game, our
                        teammates, our coaches and ourselves is paramount.
                    </p>
                </div>
            </div>
            <div class="row hidden-xs">
                <div class="col-xs-offset-4 col-xs-4 col-md-offset-4 col-md-4">
                    <hr>
                </div>
                <div class="col-md-offset-2 col-xs-offset-2 col-xs-4 col-md-4 text-center">
                    <div class="home-btn-cont">
                        <a class="btn home-btn shadow-effect" href="/registration/hs-league-reg" role="button">HS League Sign Up!</a>
                    </div>
                </div>
                <div class="col-xs-4 col-md-4 text-center">
                    <div class="home-btn-cont">
                        <a class="btn home-btn shadow-effect" href="/registration/hs-league-reg" role="button">HS League Sign Up!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container" id="about-header">
        <div class="about-header-row row">
            <div class="text-center col-md-12">
                <div class="about-header">
                    <h1>Meet the Coaches</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="container content" id="about">
        <div class="row">
            <div class="col-md-12">
                <div class="overview-content">
                    <p class="staff-overview hidden-xs">
                        The Maine Mussels believes that success begins with our coaches. Each and every Mussels coach is well known in Maine as a
                        leader in the sport of lacrosse. We seek out coaches who share our values of Play Fast, Play Fun
                        and are dedicated to growing the game of lacrosse in Maine and helping student-athletes pursue their
                        passions.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container content" id="about">
        <div class="row">
            <div class="coach col-md-12">
                <div class="coach-pic col-md-6">
                    <img src="/img/coach-q.jpeg" alt="coach-pic">
                </div>
                <div class="coach-facts col-md-6">
                    <h3>Cooper Quenneville Head Coach/Owner</h4>
                        <hr>
                        <p>
                            Assistant Coach at Bowdoin College, Face-off Specialist
                        </p>
                        <p>
                            4 year starter at Division II Saint Michael's College,
                        </p>
                        <p>
                            2014 Senior Captain earning team MVP awards
                        </p>
                        <p>
                            North-East 10 All Conference Recognition
                        </p>
                        <p>
                            Participant at the USILA Division I/II Senior Game at M&T Bank Stadium in Baltimore.
                        </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container content" id="about">
        <div class="row">
            <div class="col-md-6">
                <div class="coach col-md-12">
                    <div class="coach-pic col-md-6">
                        <img src="/img/icons/fake-coach.png" alt="coach-pic">
                    </div>
                    <div class="coach-facts col-md-6">
                        <h3>Matt Gilbert</h3>
                        <h4>Coach</h4>
                        <hr>
                        <p>
                            Director and Coach of Oak Hills Youth Lacrosse
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="coach col-md-12">
                    <div class="coach-pic col-md-6">
                        <img src="/img/icons/fake-coach.png" alt="coach-pic">
                    </div>
                    <div class="coach-facts col-md-6">
                        <h3>Tj Leach</h3>
                        <h4>Coach</h4>
                        <hr>
                        <p>
                            Played at Division III Elmira College
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="coach col-md-12">
                    <div class="coach-pic col-md-6">
                        <img src="/img/icons/fake-coach.png" alt="coach-pic">
                    </div>
                    <div class="coach-facts col-md-6">
                        <h3>Nick Cola</h3>
                        <h4>Coach</h4>
                        <hr>
                        <p>
                            Played at Division III Elmira College
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="coach col-md-12">
                    <div class="coach-pic col-md-6">
                        <img src="/img/icons/fake-coach.png" alt="coach-pic">
                    </div>
                    <div class="coach-facts col-md-6">
                        <h3>Steven Gilbert</h3>
                        <h4>Coach</h4>
                        <hr>
                        <p>
                            Current player at Division III University of Southern Maine
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="coach col-md-12">
                    <div class="coach-pic col-md-6">
                        <img src="/img/icons/fake-coach.png" alt="coach-pic">
                    </div>
                    <div class="coach-facts col-md-6">
                        <h3>Nate Wiley</h3>
                        <h4>Coach</h4>
                        <hr>
                        <p>
                            Played at Cheverus High School; Mussels Coach for 2 years
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


