<div class="container" id="contact">
    <section>
        <div class="social-media-row row">
            <div class="message-header col-xs-12 col-sm-12">
                <h2>Check us out on social media!</h2>
            </div>
            <div class="social col-sm-6">
                <div class="col-sm-12">
                    <a href="https://www.instagram.com/mainemusselslacrosse/"><h2>Instagram</h2></a>
                </div>
                <div class="col-sm-12">
                    <a href="https://www.instagram.com/mainemusselslacrosse/">
                        <img src="img/icon/insta.icon" alt="">
                    </a>
                </div>
                <div class="col-sm-12">
                    <a href="https://www.instagram.com/mainemusselslacrosse/">
                        <h2>Instagram</h2>
                    </a>
                </div>
            </div>
            <div class="social col-sm-6">
                <div class="col-sm-12">
                    <a href="https://www.facebook.com/mainemusselslacrosse/"><h2>Facebook</h2></a>
                </div>
            </div>
        </div>
    </section>
</div>