<div class="container" id="contact">
    <section>
        <div class="social-row row">
            <div class="message-header col-xs-12 col-sm-6">
                <h2>Find Us On Social Media!</h2>
                <hr>
            </div>
        </div>
        <div class="social-content-row row"></div>
            <div class="social col-sm-offset-2 col-sm-4">
                <div class="social-icon col-sm-offset-4 col-sm-4">
                    <a href="https://www.instagram.com/mainemusselslacrosse/">
                        <img class="shadow-effect" src="img/icons/insta-icon.png" alt="instagram">
                    </a>
                </div>
                <div class="social-title col-sm-12">
                    <a href="https://www.instagram.com/mainemusselslacrosse/"><h2>@mainemusselslacrosse</h2></a>
                </div>
            </div>
            <div class="social col-sm-4">
                <div class="social-icon col-sm-offset-4 col-sm-4">
                    <a href="https://www.instagram.com/mainemusselslacrosse/">
                        <img class='shadow-effect' src="img/icons/fb-icon.png" alt="facebook">
                    </a>
                </div>
                <div class="social-title col-sm-12">
                    <a href="https://www.facebook.com/mainemusselslacrosse/">
                        <h2>Facebook</h2>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>