<div class="container" id="contact">
    <section class="contact">
        <div class="contact-row row">
            <div class="contact-column col-xs-12 col-sm-5">
                <div class="message-header col-sm-8 ">
                    <h1>Social Media</h1>
                    <hr>
                </div>
                <div class="contact col-sm-12">
                    <div class="contact-icon col-xs-5 col-sm-4">
                        <a href="https://www.instagram.com/mainemusselslacrosse/" target="_blank">
                            <img class="shadow-effect" src="img/icons/insta-icon.png" alt="instagram">
                        </a>
                    </div>
                    <div class="contact-title hidden-xs col-sm-6">
                        <a href="https://www.instagram.com/mainemusselslacrosse/" target="_blank">
                            <p>@mainemusselslacrosse</p>
                        </a>
                    </div>
                </div>
            
                <div class="contact col-sm-12">
                    <div class="contact-icon col-xs-5 col-sm-4">
                        <a href="https://www.facebook.com/mainemusselslacrosse/" target="_blank">
                            <img class='shadow-effect' src="img/icons/fb-icon.png" alt="facebook">
                        </a>
                    </div>
            
                    <div class="contact-title hidden-xs col-sm-6">
                        <a href="https://www.facebook.com/mainemusselslacrosse/" target="_blank">
                            <p>Maine Mussels Lacrosse</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="contact-column col-xs-12 col-sm-5">
                <div class="message-header col-sm-8 ">
                    <h1>Contact Us</h1>
                    <hr>
                </div>
                <div class="contact col-sm-12">
                    <div class="contact-icon col-xs-5 col-sm-4">
                        <a href="tel:1-802-310-9656">
                            <img class="shadow-effect" src="img/icons/phone-icon.png" alt="phone">
                        </a>
                    </div>
                    <div class="contact-title hidden-xs col-sm-6">
                        <a href="tel:1-802-310-9656">
                            <p>(802) 310-9656</p>
                        </a>
                    </div>
                </div>
            
                <div class="contact col-sm-12">
                    <div class="contact-icon col-xs-5 col-sm-4">
                        <a href="mailto:mainemusselslacrosse@gmail.com">
                            <img class='shadow-effect' src="img/icons/gmail-icon.png" alt="gmail">
                        </a>
                    </div>
                    <div class="contact-title hidden-xs col-sm-6">
                        <a href="mailto:mainemusselslacrosse@gmail.com">
                            <p>mainemusselslacrosse@gmail.com</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
