<div class="container" id="home">
    <section>
        <div class="row logo-row">
            <div class="col-sm-4 home-logo">
                <img src="/img/logos/maine_mussels_lax_logo.png" alt="sticks cross logo">
            </div>
        </div>
        <div class="row home-btn-row" >
            <div class="col-sm-4 text-center home-btn-cont">
                <a class="btn home-btn" href="/calendar" role="button">Another Link</a>
            </div>
            <div class="col-sm-4 text-center home-btn-cont">
                <a class="btn home-btn" href="#" role="button">Meet the Coaches</a>
            </div>
            <div class="col-sm-4 text-center home-btn-cont">
                <a class="btn home-btn" href="#" role="button">Calendar</a>
            </div>
        </div>
        <div class="row message-link-row">
            <div class="col-sm-offset-4 col-sm-1 message-link">
                <a href="#message">
                    <img src="/img/icons/down_arrow.png" alt="message from coach q">
                </a>
            </div>
            <div class=" message-link col-sm-2 text-center">
                <h2>Message from Coach Q</h2>
            </div>
            <div class="col-sm-1 message-link">
                <a href="#message">
                    <img src="/img/icons/down_arrow.png" alt="message from coach q">
                </a>
            </div>
        </div>
    </section>
</div>
<div class="container" id="message">
    <section>
        <div class="row">
            <div class="col-sm-12">
                <h2>
                    Message from Coach Q:                 
                </h2>
            </div>
        </div>
    </section>
</div>