<div class="container" id="home">
    <section>
        <div class="row logo-row">
            <div class="col-sm-4 home-logo">
                <img src="/img/logos/maine_mussels_logo.png" alt="sticks cross logo">
            </div>
        </div>
        <div class="row home-btn-row" >
            <div class="col-sm-4 text-center home-btn-cont">
                <a class="btn home-btn shadow-effect" href="/calendar" role="button">Another Link</a>
            </div>
            <div class="col-sm-4 text-center home-btn-cont">
                <a class="btn home-btn shadow-effect" href="#" role="button">Meet the Coaches</a>
            </div>
            <div class="col-sm-4 text-center home-btn-cont">
                <a class="btn home-btn shadow-effect" href="#" role="button">Calendar</a>
            </div>
        </div>
        <div class="row message-link-row">
            <div class="message-link">
                <a href="#message ">
                    <img class='shadow-effect' src="/img/icons/down_arrow.png" alt="message from coach q">
                </a>
            </div>

        </div>
    </section>
</div>
<div class="container" id="message">
    <section>
        <div class="message-header-row row">
            <div class="message-header col-sm-4">
                <h2>Coach Quenneville</h2>
                <hr>
            </div>
        </div>
        <div class="message-content-row row">
            <div class="message-pic col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-3">
                <img src="/img/coach-q.jpg" alt="Coach Q">
            </div>
            <div class="message-content col-xs-12 col-sm-6">
                <ul>
                    <li>
                        Assistant Coach at Bowdoin College
                    </li>
                    <li>
                        Face-Off Specialist
                    </li>
                    <li>
                        4 year starter at Division II Saint Michael's College
                    </li>
                    <li>
                        2014 Senior Captain earning team MVP awards
                    </li>
                    <li>
                        North-East 10 All Conference Recognition
                    </li>
                    <li>
                        Participant at the USILA Division I/II Senior Game at M&T Bank Stadium in Baltimore.
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>