<div class="container" id="home-header">
    <div class="row">
        <div class="text-center col-sm-12">
            <div class="header">
                <img src="/img/logos/maine_mussels_logo.png" alt="logo">
            </div>
        </div>
    </div>
</div>

<div class="row home-btn-row">
    <div class="col-sm-4 text-center home-btn-cont">
        <a class="btn home-btn shadow-effect" href="/contact" role="button">Contact Us</a>
    </div>
    <div class="col-sm-4 text-center home-btn-cont">
        <a class="btn home-btn shadow-effect" href="/about/#coaches" role="button">Meet the Coaches</a>
    </div>
    <div class="col-sm-4 text-center home-btn-cont hidden-xs">
        <a class="btn home-btn shadow-effect" href="/calendar" role="button">Calendar</a>
    </div>
    <div class="col-sm-4 text-center home-btn-cont visible-xs">
        <a class="btn home-btn shadow-effect" href="https://calendar.google.com/calendar/embed?src=mainemusselslacrosse%40gmail.com&ctz=America%2FLos_Angeles"
            role="button">Calendar</a>
    </div>
</div>
<div class="container" id="home">
    <section>
        <!-- <div class="row logo-row">
            <div class="col-sm-4 home-logo">
                <img src="/img/logos/maine_mussels_logo.png" alt="logo">
            </div>
        </div> -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
    
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
    
                <div class="item active">
                    <img src="/img/actionshots/team_celebration_2.jpg" alt="Los Angeles" style="width:100%;">
                    <div class="carousel-caption">
                    </div>
                </div>
    
                <div class="item">
                    <img src="/img/actionshots/team_celebration_2.jpg" alt="Chicago" style="width:100%;">
                </div>
    
                <div class="item">
                    <img src="/img/actionshots/team_celebration_2.jpg" alt="New York" style="width:100%;">
                    <div class="carousel-caption">
                    </div>
                </div>
    
            </div>
    
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
</div>
<div class="row message-link-row">
    <div class="message-link">
        <a href="#coachq ">
            <img class='shadow-effect' src="/img/icons/down_arrow.png" alt="message from coach q">
        </a>
    </div>

</div>
<div class="container" id="coachq">
    <section>
        <div class="message-header-row row">
            <div class="message-header col-xs-12 col-sm-5">
                <h2>Meet Coach Quenneville</h2>
                <hr>
            </div>
        </div>
        <div class="message-content-row row">
            <div class="message-pic col-xs-12 col-sm-3">
                <img src="/img/coach-q.jpeg" alt="Coach Q">
            </div>
            <div class="message-content col-xs-12 col-sm-6">
                <ul>
                    <li>
                        Assistant Coach at Bowdoin College
                    </li>
                    <li>
                        Face-Off Specialist
                    </li>
                    <li>
                        4 year starter at Division II Saint Michael's College
                    </li>
                    <li>
                        2014 Senior Captain earning team MVP awards
                    </li>
                    <li>
                        North-East 10 All Conference Recognition
                    </li>
                    <li>
                        Participant at the USILA Division I/II Senior Game at M&T Bank Stadium in Baltimore.
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="message-pic col-xs-12 col-sm-12">
                    <img src="/img/coach-q-action.jpg" alt="Coach Q">
                </div>
            </div>
        </div>
    </section>
</div>