html, body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(12,35,64);
    letter-spacing: 1px;
}
/*
=========================
main stylings
=========================
*/
.container {
    width: auto;
    height: auto;
    margin: 25px;
    padding: 0px;
    border: 5px solid rgb(12,35,64);        

    box-shadow: 10px 10px 20px black;
    
}
.row {
    width: 100% !important;
    margin: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(12,35,64);
    margin: 1em 0;
    padding: 0; 
}
a {
    color: rgb(12,35,64);
}

/*
=========================
navbar
=========================
*/
nav {
    margin: 0 !important;
}

.navbar {
    border: none;
    border-radius: 0px;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #a2aaad 25%, #fff 100%);
}
.nav {
    /* text-align: center; */
}
.nav-logo {
    height: 50px;
    width: 50px;
    padding: 0 5px !important;
    margin-left: 10px !important;
    
}
.nav-logo img{
    height: 100%;
    width: 100%;
}
.navbar-toggle {
    background-color: #0C2340;
    /* margin: 0 !important; */
}
.icon-bar {
    background-color: white;
}
.nav li a {
    padding: 15px 10px;
    display: inline-block;
    font-size: 16px;
}
.dropdown li a {
    width: 100%;
    text-align: center;
}

/*
=========================
footer
=========================
*/
footer {
    background: linear-gradient(to top, #a2aaad 25%, #ffff 100%);
    position: static;
    left: 0;
    bottom: 0;
	height: 100%;
}

.partnerships-row {
    height: 100%;
    position: static;    
    bottom: 0;
    margin-top: 50px !important;            
    
}
.partnerships {
    text-align: left;    
}

.partnerships li{
    font-size: 16px;
    width: auto;
    height: auto;
    text-decoration-style: none;
    list-style-type: none;
    display: inline-block;
    padding: 05px;
    margin: auto;
}
.footer-contact li{
    padding-bottom: 30px;
}
.built {
    padding: 10px;    
    text-align: right;
}

/*
=========================
landing page -- home page
=========================
*/
#home {
    background: url('/img/actionshots/team_celebration_2.jpg');
    background-position: center top;

}
.home-logo {
    height: 100%;
    margin-bottom: 400px;
    
}

.home-logo img {
    width: 100%;
    height: 100%;    
}

.home-btn-row {
}
.home-btn-cont {
    padding: 15px;
    height: 100px;
}
.home-btn {
    height: 100%;
    width: 100%;
    padding: 15px;
    background-color: rgb(120,190,32);
    font-size: 20px;
    text-align: center;
    border: 2px solid black;    
    
}
.shadow-effect{
    box-shadow: 5px 5px 20px black;
    transition: box-shadow 0.2s ease-in-out;

}
.shadow-effect:hover{
    box-shadow: 0 5px 1px rgba(0,0,0,0.3);
}

.message-link-row {
    margin-top: 10px;
    position: static;
    bottom: 0;
}
.message-link {
    height: 100px;
    width: 100px;
    margin: auto;
    padding: 10px;
    
}

.message-link img {
    width: 100%;
    height: 100%;    
    border-radius: 50%;
}
#coachq {
    height: 100%;
    padding: 10px 10px 25px 10px;
}
.message-header h2 {

    padding: 10px;
}
.message-pic {
    height: 100%;
    padding: 10px;
    margin: 0 !important;
}
.message-pic img {
    border: 5px solid rgb(12,35,64);        
    width: 100%;
    height: 100%;
}
.message-content {
    height: 100%;  
    padding: 10px;
}
.message-content li{
    /* color: #fff; */
    font-size: 22px;
    padding: 10px;
    list-style-type: none;
}
/* 
========================
Contact-Page
========================
 */

 #contact {
    background-color: #A2AAAD;
    display: inline-block;

 }

 .contact-column {
    /* border: 1px solid black; */
    /* margin: 0 35px; */
    padding: 50px 10px 100px 0;  
 }
 .contact {
    padding: 15px;
    height: 100%;

 }
 .contact-title {
    margin-top: 45px;
 }
 .contact-title p {
    font-size: 18px;

 }
  .contact-icon {
    height: auto;
 }
 .contact-icon img {
    width: 100%;
    height: 100%;
    border-radius: 23%;
 }

 /* 
=======================================================
About
=======================================================
 */
#about,
#coaches {
    padding: 40px;
    margin: 20px 75px;
}
.about-header-row{
    padding-bottom: 30px; 
}
.coach {
    padding: 20px;
    margin: 10px;
    box-shadow: 5px 5px 20px rgb(12,35,64);
}
.coach 
.coach-pic{
    height: auto;
    padding: 0;
    border: 3px solid rgb(12,35,64);

}
.coach-pic img {
    height: 100%;
    width: 100%;
}
.overview-row {
    padding: 0 10px;
}
.overview-content {
    padding: 10px;
    font-size: 22px;
    letter-spacing: 1px;
}
.coach-facts{
    padding: 0 20px;
}
.coach-facts p {
    font-size: 18px;
}
/* 
=======================================================
Registration Forms
=======================================================
 */
 #form {
    background-color: rgb(12,35,64);
    margin: 25px 100px;
 } 
 .form {  
    padding: 0 !important;

 }
 iframe {
    padding: 0 !important;
     
 }
 /* 
=======================================================
Calendar
=======================================================
 */
 #calendar {

 } 
 .calendar{  
    padding: 25px;

 }
/* 
=======================================================
=======================================================
MEDIA QUERY
=======================================================
=======================================================
*/


@media (max-width: 828px){

/* ==== navbar ==== */



    #home{
        background-position: center top ;
    }
    .message-content ul {
        padding: 0;
    }

    #about,
    #coaches{
        padding: 0px;
        margin: 5px;
    }
    .logo-row {
        padding: 10px 0px 290px 0px;
    }
    .home-logo {
        margin: 10px;
        border: 5px solid rgb(12,35,64);        
        background-color: rgba(255, 255, 255, 0.7)
    }

/* --- media query home --- */

    .home-btn-row {
        margin-top: 0;
    }
    #contact {
        text-align: center; 
    }
     .contact-column {
        height: auto;
        margin: 0;
        padding: 0;
        
    }
    .contact-icon {
        margin: 15px 70px;
    }
     #form {
        background-color: rgb(12,35,64);
        margin: 0;
 } 
}










/*
=========================
forms
=========================
*/
/* .form {
    border: 3px solid black;
    text-align: center;
    height: 600px;
    width: 100%;
}
.form-header{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 5px;
    
}
.form-group {
    display: inline-block;
    
}
.primary-form {
    height: 600px;
    width: 100%;
} */

/*
=========================
profile
=========================
*/
/* .logout {
    border: 2px solid black;
} */
