html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*
=========================
navbar
=========================
*/
nav {
    /* background-color: #A2AAAD; */
    margin: 0 !important;
}
.navbar {
    border-radius: 0px;
    width: 100%;
    height: 60px;
    background-color: #0C2340;
}
.navbar a {
    color: #fff
}
.navbar-toggle {
    background-color: white;
}
.icon-bar {
    background-color: #0C2340;
}

/*
=========================
footer
=========================
*/
footer {
    background-color: #A2AAAD;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
	height: 35px;
    color: white;
    text-align: center;
}

/*
=========================
main-container
=========================
*/
.container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
}
.row {
    width: 100% !important;
    margin: 0;
}
/*
=========================
landing page -- home page
=========================
*/
#home {
    width: inherit;
    height: inherit;
    background: url('/img/actionshots/team_celebration_2.jpg');
    opacity: 0.9;
}
.home-logo {
    height: 200px;
}

.home-logo img {
    width: 100%;
    height: 100%;    
}

.home-btn-row {
    margin-top: 300px;
}
.home-btn-cont {
    padding: 15px;
    height: 100px;
}
.home-btn {
    height: 100%;
    width: 100%;
    padding: 15px;
    border: 2px solid black;
    box-shadow: 5px 5px 3px black;
    background-color: rgb(120,190,32);
    color: rgb(12,35,64);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;

}
.home-btn:hover {
    border: 2px solid black;
    box-shadow: 0 5px 1px rgba(0,0,0,0.3);
}
.message-link-row {
    margin-top: 75px;
}
.message-link {
    height: 100px;
}
.message-link h2 {
    color: rgb(12,35,64);
}
.message-link img {
    width: 100%;
    height: 100%;    
}
#message {
 height: 90%;
}

/*
=========================
forms
=========================
*/
.form {
    border: 3px solid black;
    text-align: center;
    height: 600px;
    width: 100%;
}
.form-header{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 5px;
    
}
.form-group {
    display: inline-block;
    
}
.primary-form {
    height: 600px;
    width: 100%;
}

/*
=========================
profile
=========================
*/
.logout {
    border: 2px solid black;
}




