<div class="clinics-page">
    <div class="container clinics-container">

        <div class="clinics-header-row row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="clinics-header">
                    <h1>
                        Clinics, Training, and Coaching
                    </h1>
                </div>
            </div>
        </div>

        <div class="row clinic-row">


            <div class="col-sm-6 clinic">
                <div class="clinic-container col-sm-12 ">
                    <h2>
                        Face Off Clinic
                    </h2>
                    <hr>
                    <div class="clinic-info">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="clinic-detail">
                                    <h3>
                                        Starting May 31
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="clinic-detail">
                                    <h4>
                                        Thursdays
                                    </h4>
                                    <h4>
                                        6:00pm - 7:00pm
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="clinic-detail">
                                    <h4>
                                        Falmouth Community Fields
                                    </h4>
                                    <a href="https://goo.gl/maps/MiGmN7S5eyk"><h5>Get Directions</h5></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                    
                        </div>
                        <div class="col-sm-12">
                            <div class="clinic-detail">
                                <h4>
                                    $30 for Mussels Players
                                </h4>
                                <h4>
                                    $40 for Non-Mussels Players
                                </h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 clinic">
                    <div class="clinic-container col-sm-12">
                        <div class="clinic-detail">
                            <div class="fb-video">
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmainemusselslacrosse%2Fvideos%2F765118753675490%2F&show_text=0&width=560"
                                    width="600" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                                    allowFullScreen="true"></iframe>
                            </div>
                        </div>
                        <div class="home-btn-cont">
                            <a class="btn home-btn shadow-effect" href="/registration/face-off-reg" role="button">
                                <h4>Sign Up!</h4>
                            </a>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>
</div>
    

<!-- Face-Off Clinic Schedule: Where: Falmouth Community Fields When: Thursdays from 6:00 pm-7:00 pm Cost: $30 for Mussels Players;
$40 for Non-Mussels Players Dates: May 31, June 14, June 21, June 28, July 5, July 12, July 19, July 26, August 2 -->






