<div class="container">
    <section>
        <div class="row">
            <div class="col-sm-12">
                <h2>
                    Positional Training
                </h2>
            </div>
        </div>
    </section>
</div>