<div class="league-page">

    <div class="container" id="mini-mussels-header">

        <div class="mini-header col-sm-12">
            <h1 class="hidden-xs">
                Summer League Program
            </h1>
            <h2 class="visible-xs">
                Summer League
            </h2>
        </div>

    </div>
    <div class="row" id="details">
        <div class=" col-sm-offset-1 col-sm-10">
            <div class=" col-sm-12">

                <div class="mini-detail col-sm-12">
                    <h2 class="mini-detail-title text-center">
                        Ages: PG, 2019, 2020, 2021, 2022 and Middle School
                    </h2>
                </div>
                <div class="col-sm-6">
                    <div class="location-session col-sm-12">
                        <div class="col-sm-12">
                            <h2>
                                 Games for HS and MS
                            </h2>
                        </div>
                        <div class="col-sm-12">
                            <h3>
                                Tuesdays
                            </h3>
                        </div>
                        <div class="col-sm-12">
                            <h3>
                                6:00pm-8:00pm
                            </h3>
                        </div>
                        <div class="col-sm-12">
                            <h2 class='hidden-xs hidden-md'>
                                Falmouth Community Fields
                            </h2>
                            <h2 class='visible-xs visible-md'>
                                Falmouth Fields
                            </h2>
                        </div>
                        <div class="col-sm-12">
                            <a class="btn home-btn visible-xs" href="https://goo.gl/maps/MiGmN7S5eyk" role="button">Directions</a>
                            </a>
                            <a class="btn home-btn shadow-effect hidden-xs" href="https://goo.gl/maps/MiGmN7S5eyk" role="button">Directions</a>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="location-session col-sm-12">
                        <div class="col-sm-12">
                            <h2>
                                Costs
                            </h2>
                        </div>
                        <div class="col-sm-12">
                            <h3>
                                $150 
                            </h3>
                            <h4>
                                for 7 weeks
                            </h4>
                            <h3>
                                + $350 due by June 25th
                            </h3>
                            <h4>
                                (does not include uniform fee)
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row home-btn-row">
        <div class="col-md-4">
            <div class="home-btn-cont">
                <a class="btn home-btn shadow-effect" href="/registration/ms-league-reg" role="button">MS Sign Up!</a>
            </div>
        </div>
        <div class="col-md-4 hidden-xs">
            <div class="home-btn-cont">
                <a class="btn home-btn shadow-effect" href="/calendar" role="button">Calendar</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="home-btn-cont">
                <a class="btn home-btn shadow-effect" href="/registration/hs-league-reg" role="button">HS Sign Up!</a>
            </div>
        </div>
        <div class="col-md-4 visible-xs">
            <div class="home-btn-cont">
                <a class="btn home-btn" href="https://calendar.google.com/calendar/embed?src=mainemusselslacrosse%40gmail.com&ctz=America%2FLos_Angeles"
                    role="button">Calendar</a>
            </div>
        </div>
    </div>
    <div class="mini-details-container ">
        <div class="mini-details row">
            <h2>Travel Program Details:</h2>
            <div class="mini-detail col-sm-12">
                <div class="col-md-4 ">
                    <div class="program-detail">
                        <h3>
                            Free Mussels Positial Training!
                        </h3>
                        <div class="home-btn-cont">
                            <a class="btn home-btn shadow-effect" href="/registration/positional-training-reg" role="button">Sign Up!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="program-detail">
                        <h3>
                            Exposure to great coaching​​ that will enhance individual/team skill development and technical training
                        </h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="program-detail">
                        <h3>
                            1st hour
                        </h3>
                        <h4>
                            Skill and Drills
                        </h4>
                        <h3>
                            2nd hour
                        </h3>
                        <h4>
                            Skill and Games
                        </h4>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="program-detail">
                        <h3>
                            Players who register will be placed on a team. Teams will be chosen based on position and skill
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Weekly practices, scrimmages and participation in 2 tournaments in the east with the highest concentration of college coaches
available
*Free registration for the Maine Mussels Leagues
*Free registration for the Maine Mussels Positional Training 
*2019s Scrimmage prior to Boston Cannons home game (team to be selected by the Boston Cannons) *Shorts, pinnies, and a shooter representing
the Mussels logo *A focus on player development and college recruiting -->