<div class="travel-page">
    <div class="container" id="mini-mussels-header">
        <!-- header -->
        <div class="mini-header col-xs-6 col-sm-8">
            <h1 class="hidden-xs">
                Summer Travel Program
            <h2 class="visible-xs">
                 Summer Travel
            </h2>
        </div>
        <!-- end header -->
    </div>
    <div class="container" id="mini-mussels-header">
        <!-- header -->
        <div class="mini-header col-xs-6 col-sm-8">
            <h1 class="hidden-xs">
                Summer Travel Program
                <h2 class="visible-xs">
                    Summer Travel
                </h2>
        </div>
        <!-- end header -->
    </div>
    <div class="container" id="mini-mussels-header">
        <!-- header -->
        <div class="mini-header col-xs-6 col-sm-8">
            <h1 class="hidden-xs">
                Summer Travel Program
                <h2 class="visible-xs">
                    Summer Travel
                </h2>
        </div>
        <!-- end header -->
    </div>
    <div class="container" id="mini-mussels-header">
        <!-- header -->
        <div class="mini-header col-xs-6 col-sm-8">
            <h1 class="hidden-xs">
                Summer Travel Program
                <h2 class="visible-xs">
                    Summer Travel
                </h2>
        </div>
        <!-- end header -->
    </div>
</div>