<div class="travel-page">

    <div class="container" id="mini-mussels-header">

        <div class="mini-header col-sm-12">
            <h1 class="hidden-xs">
                Summer Travel Program
            </h1>
            <h2 class="visible-xs">
                Summer Travel
            </h2>
        </div>

    </div>
    <div class="tryouts-row row" id="announcement">
        <div class="announcement text-center col-sm-8">
            <div class="tryout-header col-sm-offset-4 col-sm-4">
                <h2>
                    Tryouts!
                </h2>
            </div>
            <div class="col-sm-6">
                <h3>
                    Sunday May 13th
                </h3>
            </div>
            <div class="col-sm-6">
                <h3>
                    Sunday May 20th
                </h3>
            </div>
            <div class="col-sm-12">
                <h3>
                    12:00-3:00pm
                </h3>
            </div>
        </div>
    </div>
    <div class="row home-btn-row">
        <div class="col-md-4">
            <div class="home-btn-cont">
                <a class="btn home-btn shadow-effect" href="/registration/ms-travel-reg" role="button">MS Sign Up!</a>
            </div>
        </div>
        <div class="col-md-4 hidden-xs">
            <div class="home-btn-cont">
                <a class="btn home-btn shadow-effect" href="/calendar" role="button">Calendar</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="home-btn-cont">
                <a class="btn home-btn shadow-effect" href="/registration/hs-travel-reg" role="button">HS Sign Up!</a>
            </div>
        </div>
        <div class="col-md-4 visible-xs">
            <div class="home-btn-cont">
                <a class="btn home-btn" href="https://calendar.google.com/calendar/embed?src=mainemusselslacrosse%40gmail.com&ctz=America%2FLos_Angeles"
                    role="button">Calendar</a>
            </div>
        </div>
    </div>

    <div class="row" id="details">
        <div class=" col-sm-offset-1 col-sm-10">

            <div class=" col-sm-12">

                <div class="mini-detail col-sm-12">
                    <h2 class="mini-detail-title text-center">
                        Ages: PG, 2019, 2020, 2021, 2022 and Middle School
                    </h2>
                </div>

                <div class="col-sm-6">
                    <div class="location-session col-sm-12">
                        <div class="col-sm-12">
                            <h2>
                                Practice
                            </h2>
                        </div>
                        <div class="col-sm-12">
                            <h3>
                                Monday and Thursday
                            </h3>
                        </div>
                        <div class="col-sm-12">                        
                            <h3>
                                6:00pm-8:00pm
                            </h3>
                        </div>
                        <div class="col-sm-12">
                            <h2 class='hidden-xs hidden-md'>
                                Falmouth Community Fields
                            </h2>
                            <h2 class='visible-xs visible-md'>
                                Falmouth Fields
                            </h2>
                        </div>
                        <div class="col-sm-12">
                            <a class="btn home-btn visible-xs" href="https://goo.gl/maps/MiGmN7S5eyk" role="button">Directions</a>
                            </a>
                            <a class="btn home-btn shadow-effect hidden-xs" href="https://goo.gl/maps/MiGmN7S5eyk" role="button">Directions</a>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="location-session col-sm-12">
                        <div class="col-sm-12">
                            <h2>
                                Costs
                            </h2>
                        </div>
                        <div class="col-sm-12">
                            <h3>
                                $150 Deposit
                            </h3>
                            <h4>
                                 Due by May 20
                            </h4>
                            <h3>
                                + $350 due by June 25th
                            </h3>
                            <h4>
                                (does not include uniform fee)
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mini-details-container row">
        <div class="mini-details col-sm-6">
            <div class="mini-detail">
                <h2>Travel Program Offers:</h2>
                <div class="mini-detail col-sm-12">
                    <h3 class="mini-detail-title ">
                        Weekly Practices
                    </h3>
                    <h3 class="mini-detail-title ">
                        Scrimmages
                    </h3>
                    <h3 class="mini-detail-title ">
                        Participation in 2 Tournaments
                    </h3>
                    <h3 class="mini-detail-title ">
                        Tournaments have highest concentration of College coaches
                    </h3>
                </div>
                <div class=" col-md-12 ">
                    <div class="row mini-detail-title">
                        <h3>
                            Free Mussels Positial Training!
                        </h3>
                        <div class="home-btn-cont">
                            <a class="btn home-btn shadow-effect" href="/registration/positional-training-reg" role="button">Sign Up!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mini-details col-sm-6">
            <div class="mini-detail">

                <div class="col-sm-12">
                    <div class="col-sm-12 program-detail">
                        <div class="mini-detail col-sm-12 hidden-xs">
                            <h3 class="mini-detail-title ">
                                Tournaments
                            </h3>
                            <h4>Bowdoin Polar Bear Camp</h4>
                            <h4>
                                June 25- June 28
                            </h4>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeL3i3u7K8-vbuPe0wxDp7ZchciZXmyVySNPTQCAV4-BLsfpg/viewform">Click for Bowdoin Details</a>
                            <hr>
                            <h4>
                                Providence Rhode Island Tournament
                            </h4>
                            <h4>
                                July 14-15
                            </h4>
                            <hr>                        
                            <h4> Stowe Tournament</h4>
                            <h4>
                                July 21-22
                            </h4>
                            <a href="https://www.bitterlacrosse.com/stowe-lax-festival-ii">Click for Stowe Details</a>
                            <hr>
                            <h4>
                                Boston Cannons Scrimmage</a> - July 28th or August 4th
                            </h4>
                        </div>
                        
                    </div>
                </div>
            </div>                
        </div>
    </div> 
        
 </div>

<!-- Weekly practices, scrimmages and participation in 2 tournaments in the east with the highest concentration of college coaches
available
*Free registration for the Maine Mussels Leagues
*Free registration for the Maine Mussels Positional Training 
*2019s Scrimmage prior to Boston Cannons home game (team to be selected by the Boston Cannons) *Shorts, pinnies, and a shooter representing
the Mussels logo *A focus on player development and college recruiting -->




