<div class="travel-page">
    <div class="container" id="mini-mussels-header">
        <!-- header -->
        <div class="mini-header col-sm-12">
            <h1 class="hidden-xs">
                Summer Travel Program
            <h2 class="visible-xs">
                 Summer Travel
            </h2>
        </div>
        <!-- end header -->
    </div>
    <div class="container" id="mini-mussels-header">
        <!-- header -->
        <div class="mini-header col-sm-12">
            <h3 class="hidden-xs">
                Summer Travel Program
            </h3>
            <h2 class="visible-xs">
                Summer Travel
            </h2>
        </div>
        <!-- end header -->
    </div>
    <div class="container" id="program-overview-container" >
        <div class="program-detail col-sm-offset-2 col-sm-8">
            <h2>
                Free registration for Mussels League and Mussels Positial Training!
            </h2>
        </div>
    </div>
</div>

<!-- Weekly practices, scrimmages and participation in 2 tournaments in the east with the highest concentration of college coaches
available
*Free registration for the Maine Mussels Leagues
*Free registration for the Maine Mussels Positional Training 
*2019s Scrimmage prior to Boston Cannons home game (team to be selected by the Boston Cannons) *Shorts, pinnies, and a shooter representing
the Mussels logo *A focus on player development and college recruiting -->